#list_of_trainings {
	margin-top: 120px;
	margin-left: 110px;
	width:620px;
	height:380px;
	background:#ffffff;
	font-family: Comic Sans, Comic Sans MS, cursive;
	padding: 5px;
	text-align: center;
	color: #8e44ad;
}
