#lleft{
	margin-top: -20px;
	margin-left: 30px;
	/*background: #F0FCE8;*/
	width:300px;
	height:300px;
}
#rright{
	margin-top: -250px;
	margin-left: 370px;
	/*background: #F0FCE8;*/
	width:300px;
	height:300px;
}
#lleft img{
	width:300px;
	height: 200px;
	margin-top: 30px;
}
#slovo {
	margin-top: 5px;
	width:300px;
	height:50px;
	/*opacity: 0.5;*/
	font-family: 'Arial', sans-serif;
	font-size: 22pt;
	text-align: center;
	padding-top: 15px;
	color: #57687e;
}
#sub {
	background: #8e44ad;
	border: 5px;
	/*opacity: 0.8;*/
	font-family: 'Arial', sans-serif;
	font-size: 13.5pt;
	padding: 12px;
	margin-top: 35px;
	margin-left: -150px;
	color: #ffffff;
	width:185px;
	height:45px;
	border-radius: 5px;
}
.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
	width: 185px;
	height: 45px;
    background: #57687e;
	font-family: 'Arial', sans-serif;
	font-size: 13.5pt;
	color: #ffffff;
	border: 4px solid #A9A9A9;
	text-align: center;
	padding: 7px;
	margin-top: 1px;
	border-radius: 5px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background:#f2ab10;
	border: 4px solid #f2ab10;
}
